body {
            font-family: 'Arial', sans-serif;
            background-color: black;
            color: #4a4947;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }
        
        .container {
            max-width: 900px;
            margin: 0 auto;
            text-align: center;
            padding: 30px 20px;
        }

        h1 {
            color: #F4DFC8;
            font-size: 3em;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
        }

        h2 {
            color: white;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        p {
            color: white;
            font-size: 1.1em;
            font-family: Arial, Helvetica, sans-serif;            
        }

        .profile-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #F4EAE0;
        }

        .info-table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #140f08;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            border-radius: 10px;
            padding: 20px;
        }

        .info-table td {
            padding: 20px;
        }

        ul.hobbies {
            list-style-type: circle;
            padding-left: 20px;
            text-align: left;
            display: inline-block;
            color: white;
        }

        hr {
            width: 40%;
            border: 1px solid rgb(255, 255, 255);
            margin: 40px auto 20px;
        }

        small {
            color: #ffffff;
            font-style: italic;
            text-align: center;
        }